<body ondragstart="return false;" ondrop="return false;">
  <div id="screen">
    <img id='bandeauh' src='assets/img/bandeau_haut.png' (click)="quittermenu()" class="" alt="" [hidden]="">
    <div id="workspace" class="spacemodal vcm">
      <!--<img id="logopbid" src="assets/img/logo.png" class="logopbidbig epure vcm" alt="">-->
      <img id='filetape1' src="assets/img/timeline-etape-1.png?v=1.001" class="fileelem vcm" alt="">
      <div class="contain vcm">
        @if (loadingstate) {
          <div class="loadscreen vcm">
            <mat-spinner></mat-spinner>
          </div>
        }
        <div id="mainmenu" class="elemcb" [hidden]="loadingstate">
          <div class="modal-content-mainmenu modal-content-cb">
            <form [formGroup]="registrationForm" (submit)="onSubmitRegistration($event)">
              <div class="modal-header modal-header-mainmenu modal-header-cb scaleddown">
                <!--<img id='logopbid' class='logopbidbig' src='assets/img/LOGO_PRATIC_BOUTIC_BLANC.png' alt="">-->
                <mat-label class="txt-noboutic">JE M'INSCRIS</mat-label>
              </div>
              <div class="modal-body modal-body-mainmenu modal-body-cb">
                <mat-form-field class="enlarged example-full-width scaleddown">
                  <mat-label>Courriel</mat-label>
                  <input formControlName="identifiant" type="email" matInput placeholder="Ex. patrice@exemple.fr" id="emailid" name="email" color="accent">
                  @if (registrationForm.hasError('email') && !registrationForm.hasError('required')) {
                    <mat-error>
                      S'il vous plaît entrez un courriel valide
                    </mat-error>
                  }
                  @if (registrationForm.hasError('required')) {
                    <mat-error>
                      Un courriel est <strong>requis</strong>
                    </mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="modal-footer-mainmenu">
                <button mat-fab extended color="primary" class="btn btn-primary btn-block btn-valider enlarged scaleddown" type="submit">
                  VALIDER
                </button>
                <!--<br>-->
                <asl-google-signin-button class="agsl" type='standard' size='medium' shape='pill'></asl-google-signin-button>
              </div>
            </form>
          </div>
          <a class="mr-auto mdfaddlink forgotpwd" (click)="gotoAdmin()">J'ai déjà un compte</a>
        </div>
        <img id='illus2' src='assets/img/illustration_1.png' class='elemcb epure' alt="">
      </div>
    </div>
    <img id='bandeaub' src='assets/img/bandeau_bas.png' (click)="quittermenu()" class="epure" alt="" [hidden]="">
  </div>
</body>