<div id="screen">
  <img id='bandeauh' src='assets/img/bandeau_haut.png' (click)="quittermenu()" alt="" [hidden]="">
  <div id="workspace" class="spacemodal">
    <img id="logopbid" src="assets/img/logo.png" class="logopbidbig depure" alt="">
    <!--<img id='filetape1' src="assets/img/fil_Page_1.png?v=1.001" class="fileelem" alt="">-->
    <div class="container">
      @if (loadingstate) {
        <div class="loadscreen">
          <mat-spinner></mat-spinner>
        </div>
      }
      <div id="mainmenu" class="elemcb" [hidden]="loadingstate">
        <div class="modal-content-mainmenu modal-content-cb">
          <form [formGroup]="radressingForm" (submit)="onSubmitRadressing($event)">
            <div class="modal-header modal-header-mainmenu modal-header-cb">
              <img id='logopbid' class='logopbidbig' src='assets/img/LOGO_PRATIC_BOUTIC.png' alt="">
              <h6 class="modal-title-cb">CHANGEMENT DE COURRIEL</h6>
            </div>
            <div class="modal-body modal-body-mainmenu modal-body-cb">
              <mat-form-field class="example-full-width">
                <mat-label>Courriel</mat-label>
                <input formControlName="identifiant" type="email" matInput placeholder="Ex. patrice@exemple.fr" id="emailid" name="email" color="accent">
                @if (radressingForm.hasError('email') && !radressingForm.hasError('required')) {
                  <mat-error>
                    S'il vous plaît entrez un courriel valide
                  </mat-error>
                }
                @if (radressingForm.hasError('required')) {
                  <mat-error>
                    Un courriel est <strong>requis</strong>
                  </mat-error>
                }
              </mat-form-field>
            </div>
            <div class="modal-footer-mainmenu">
              <button mat-fab extended color="primary" class="btn btn-primary btn-block btn-valider enlarged" type="submit">
                VALIDER
              </button>
            </div>
          </form>
        </div>
        <a class="mr-auto mdfaddlink forgotpwd" (click)="gotoAdmin()">Je ne sohaite pas changer de courriel</a>
      </div>
      <!--<img id='illus2' src='assets/img/illustration_2.png' class='elemcb epure' alt="">-->
    </div>
  </div>
  <img id='bandeaub' src='assets/img/bandeau_bas.png' (click)="quittermenu()" class="epure" alt="" [hidden]="">
</div>
