<body ondragstart="return false;" ondrop="return false;">
  <div id="screen">
    <img id='bandeauh' src='assets/img/bandeau_haut.png' (click)="quittermenu()" />
    <div id="workspace" class="spacemodal vcm">
      <mat-spinner [hidden]="!loadingstate" class="vcm"></mat-spinner>
      <div id="mainmenu" class="modal-content-mainmenu modal-content-cb vcm" [hidden]="loadingstate">
        <form [formGroup]="pwdForm" (submit)="onSubmit()">
          <div class="modal-header-cb">
            <img id='logopbid' class='logopbidbig' src='assets/img/LOGO_PRATIC_BOUTIC.png' />
            <h6 class="modal-title-cb">RENVOI DU MOT DE PASSE</h6>
          </div>
          <div class="modal-body-cb mdbodynh">
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Courriel</mat-label>
                <input formControlName="courriel" type="email" matInput placeholder="Ex. patrice@exemple.fr" id="emailid" name="email" color="accent">
                @if (pwdForm.hasError('courriel') && !pwdForm.hasError('required')) {
                  <mat-error>
                    S'il vous plaît entrez un courriel valide
                  </mat-error>
                }
                @if (pwdForm.hasError('required')) {
                  <mat-error>
                    Un courriel est <strong>requis</strong>
                  </mat-error>
                }
              </mat-form-field>
            </div>
          </div>
          <div class="modal-footer-cb param rwc2">
            <a (click)="gotologin()"><button matInput class="btn btn-secondary btn-nbsecondary" type="button">Retour</button></a>
            <input [disabled]="isSubmitted" class="btn btn-primary btn-nbprimary" type="submit" value="Valider">
          </div>
        </form>
      </div>
    </div>
    <img id='bandeaub' src='assets/img/bandeau_bas.png' onclick="quittermenu()" class='epure'/>
  </div>
</body>
