<mat-card>
  <mat-card-content>
    <br>
    <button mat-raised-button color="primary" id="razctrlid" value='Réinitialisation des paginations' (click)="razctrl()" class="otherbutton" expand="block">Réinitialisation des paginations</button>
    <br>
    <br>
    <button mat-raised-button color="primary" id="chgemailid" value='Changement du courriel du compte' (click)="chgemail()" class="otherbutton" expand="block">Changement du courriel du compte</button>
    <br>
  </mat-card-content>
</mat-card>
